body {
  background: #ffffff;
  color: #111111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

p {
  padding-top: 1em;
  clear: both;
}

.project-info {
  text-align: center;
}

.logo {
  margin: 0 auto 10px auto;
  display: block;
}

.examples {
  margin-top: 10px;
}

.examples a {
  display: block;
}

a {
  color: #111111;
}

h1 {
  clear: both;
  font-size: 1.8em;
  line-height: 1.1em;
}

ul {
  padding-left: 2em;
}

table, th, td {
  border: 1px solid;
  padding: 0.5em;
  border-collapse: collapse;
}

.date {
  font-size: 0.8721em;
  color: #656565;
  margin-top: -1.0em;
}

.iphone {
  margin: auto;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 610px;
  box-shadow: 0 0 20px #e2e2e2;
  border-radius: 30px;
  float: left;
  margin-right: 10px;
  position: relative;
}

.iphone form {
  position: absolute;
  bottom: 20px;
  width: 260px;
  left: 20px;
}

.message-box {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 260px;
  height: 380px;
  background: white;
  border-radius: 10px;
  text-align: left;
  padding: 4px;
  overflow: auto;
}

.message-cloud {
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 6px;
  font-family: Tahoma;
  opacity: 0.8;
}

.iphone form textarea {
  width: 260px;
  height: 80px;
  outline: none;
  border-radius: 10px;
  padding: 4px;
  resize: none;
}

.iphone form button {
  width: 260px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.connection-open-message {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 100;
  color: #fff;
  font-weight: bold;
}

.screen {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow-y: auto;
}

.screen.first {
  background-color: #ff9ff3;
}

.screen.second {
  background-color: #54a0ff;
}

.brove {
  width: 150px;
  height: 20px;
  background: white;
  position: absolute;
  left: 75px;
  border-radius: 0 0 20px 20px;
}

.speaker {
  width: 60px;
  height: 5px;
  background: #d2d2d2;
  display: block;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar,
details::-webkit-scrollbar,
summary::-webkit-scrollbar {
  height: 2px;
}

pre {
  overflow: auto;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-left: 4px;
  font-size: 0.7em;
  background: white;
  border: 1px solid #ededed;
  border-radius: 3px;
}

code {
  overflow: auto;
  background: transparent;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  tab-size: 2;
}

iframe {
  border: 0;
}

div.base {
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
}

.post-link, .posts-by-tag {
  text-align: center;
}

.posts-by-tag {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1em;
}

.post-link {
  margin-top: 0.5em;
}

.post-link a {
  color: #111111;
  font-size: 1.2em;
}

.content {
  width: 100%;
  height: auto;
  clear: both;
  background: transparent;
  font-size: 1.14em;
  padding: 1.16em;
  font-family: 'PT Serif', serif;
  word-wrap: break-word;
}

.quote {
  width: 80%;
  height: auto;
  margin: 1em auto 0 auto;
  font-size: 1.25em;
}

.quote-text {
  text-align: left;
  padding: 0.2em; 
  font-style: italic;
  color: #454545;
}

.quote-author {
  font-size: 0.75em;
  text-align: right;
  color: #767676;
}

.refs {
  margin: 1em 0 0.2em 0;
  width: 100%;
  font-size: 1.4em;
  color: #676767;
}

.ajax-icon {
  height: 48px;
  width: 48px;
  margin: 10px auto;
  display: block;
}

.profile-box, .response-box {
  width: 80%;
  min-height: 250px;
  border-radius: 16px;
  border: 1px solid #cdcdcd;
  margin: 10px auto;
  padding: 5px;
  font-family: sans-serif;
}

.response-box {
  min-height: auto;
  background: #f8f8f8;
}

.response-box progress {
  display: block;
  margin: 0 auto;
}

.error-box {
  padding: 10px;
  border-radius: 16px;
  background: #d21f3c;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  font-family: sans-serif;
}

.response-info {
  border-radius: 16px;
  border: 1px #cdcdcd solid;
  padding: 5px;
  text-align: center;
  background: #ffffff;
}

.photo {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 10px;
}

.user-info, .playlist-info {
  width: 240px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 16px;
  border: 1px #cdcdcd solid;
  padding: 5px;
  text-align: center;
}

.playlist-info {
  width: 400px;
  font-size: 14px;
  background: #ffffff;
}

.playlist-title {
  font-weight: bold;
  font-size: 18px;
  padding: 6px;
}

.song-box {
  padding: 10px;
  border-top: 1px solid grey;
}

.name {
  font-weight: bold;
  font-size: 21px;
}

.email {
  font-weight: bold;
  font-size: 13px;
  color: grey;
}

.other-details {
  margin-top: 10px;
  font-size: 17px;
}

.form {
  background: #f8f8f8;
  border-radius: 16px;
  border: 1px #cdcdcd solid;
  display: block;
  margin: 10px auto;
  width: 350px;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}

.form button {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}

.form-label {
  margin-top: 10px;
}

.form-input {
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  padding: 6px;
}

.form input[type="file"] {
  cursor: pointer;
  font-size: 12px;
  display: block;
  margin: 0 auto;
}

.form input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.2);
}

.lang-option {
  margin-left: 7px;
  margin-right: 1px;
  font-size: 14px;
}

.login-form {
    width: 250px;
    height: auto;
    margin: 1em auto;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #dedede;
    color: #111111;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    font-size: 1em;
    outline: none;
    border-radius: 3px;
    border: 1px solid #dedede;
}

#go-button {
    background: #34495e;
    color: white;
}

.mode {
    text-align: center;
    text-decoration: underline;
}

.circle {
  display: block;
  text-align: center;
  border-radius: 50%;
  margin: 30px auto;
  width: 100px;
  height: 100px;
}

.big-select {
  display: block;
  padding: 1em;
  font-size: 2em;
  margin: 10px auto;
}

.big-button {
  display: block;
  padding: 1em;
  font-size: 2em;
  margin: 10px auto;
}

.examples a {
  margin-top: 5px;
}

@media only screen and (min-width: 700px) {
  div.base {
    width: 700px;
    font-size: 1.2em;
  }
  .content {
    font-size: 1.2em;
  }
}
