body {
  background: #ffffff;
  color: #111111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h3 {
  font-size: 1em;
  margin-top: 1.6em;
  margin-bottom: -1em;
  display: block;
}

h4 {
  font-size: 1em;
  margin-top: 1.6em;
  margin-bottom: 0em;
  display: block;
}

p {
  padding-top: 1em;
  clear: both;
}

a {
  color: #111111;
}

h1 {
  clear: both;
  font-size: 1.8em;
  line-height: 1.1em;
}

h1 a {
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  color: #111111;
}

ol, ul {
  padding: 0 1.14em;
}

ol {
  margin-top: -0.5em;
}

li {
  padding: 0 0.5em;
}

img:not(.photo):not(.project-logo):not(.article-logo):not(.youtube-video-play):not(.left-to-link) {
  width: 100%;
  height: auto;
}

.image-box {
  margin: 2em 0 1em 0;
  width: 100%;
  height: auto;
  clear: both;
}

.image-title {
  position: absolute;
  background: white;
  color: black;
  height: auto;
  opacity: 0.6;
  padding: 1em;
  font-size: 0.8em;
  margin-top: -4em;
}

details {
  padding: 0em 0.5em 0.5em 0em;
}

details p {
  padding: 4px;
}

details table {
  margin-left: 15px; 
}

details, summary {
  outline: none;
  overflow: auto;
  width: 100%;
}

summary {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #111111;
}

th, td {
  padding: 0.5em;
}

td img {
  vertical-align: middle;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar,
details::-webkit-scrollbar,
summary::-webkit-scrollbar {
  height: 2px;
}

pre {
  overflow: auto;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-left: 4px;
  font-size: 0.7em;
  background: white;
  border: 1px solid #ededed;
  border-radius: 3px;
}

code {
  overflow: auto;
  background: transparent;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  tab-size: 2;
}

iframe {
  border: 0;
}

.base {
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
  padding-bottom: 4em;
  overflow: hidden;
}

.photo {
  width: 240px;
  height: 240px;
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}

.menu {
  width: 100%;
  text-align: center;
  padding: 1em 1em 0.5em 1em;
  font-size: 1.14em;
}

.menu a {
  color: #676767;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  padding: 0em 0.2em;
  margin: 0em 0.2em;
}

.menu a:hover {
  color: #454545;
}

.day-night {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background: #222222;
  margin: 0.4em auto;
  cursor: pointer;
}

.pagination a {
  text-decoration: none;
  color: #111111;
}

.post-link, .posts-by-tag {
  text-align: center;
}

.posts-by-tag {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1em;
}

.post-link {
  margin-top: 0.5em;
}

.post-link a {
  color: #111111;
  font-size: 1.2em;
}

.content {
  width: 100%;
  height: auto;
  clear: both;
  background: transparent;
  font-size: 1.14em;
  padding: 1.16em;
  font-family: 'PT Serif', serif;
  word-wrap: break-word;
}

.continue {
  display: block;
  width: 6em;
  clear: both;
  padding-right: 1em;
  margin-bottom: 3em;
  color: #111111;
}

.date {
  font-size: 0.8721em;
  color: #656565;
  margin-top: -1.0em;
}

.pagination {
  margin-top: 1.4em;
  font-size: 1.2em;
  text-align: center;
}

.pagination a {
  padding: 0em 0.8em;
}

.tags {
  margin-top: 1em;
  margin-bottom: 1.2em;
  line-height: 1.5em;
  word-break: keep-all;
}

.tags a {
  background: #666666;
  color: #eeeeee;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 0.2em 0.4em;
  margin: 0em 0.1em;
  font-size: 0.8em;
  border-radius: 5px;
}

.tags a:hover {
  background: #555555;
}

.youtube-video, iframe {
  position: relative;
  width: 100%;
  margin-top: 1em;
  cursor: pointer;
  opacity: 0.8;
  clear: both;
}

.youtube-video.no-mt, iframe.no-mt {
  margin-top: 0.4em;
}

.youtube-video:hover {
  opacity: 1.0;
}

.youtube-video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.6em;
  height: 3.6em;
  margin-top: -1.8em;
  margin-left: -1.8em;
}

.project-logo, .article-logo {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: 0em;
  margin-bottom: 1em;
  vertical-align: middle;
  clear: both;
}

.left-to-link {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

#mypreviousprojects {
  margin-top: 1.67em;
}

.quote {
  width: 80%;
  height: auto;
  margin: 1em auto 0 auto;
  font-size: 1.25em;
}

.quote-text {
  text-align: left;
  padding: 0.2em; 
  font-style: italic;
  color: #454545;
}

.quote-author {
  font-size: 0.75em;
  text-align: right;
  color: #767676;
}

.refs {
  margin: 1em 0 0.2em 0;
  width: 100%;
  font-size: 1.4em;
  color: #676767;
}

@media only screen and (min-width: 700px) {
  .base {
    width: 700px;
  }
  .menu {
    font-size: 1.2em;
  }
  .content {
    font-size: 1.2em;
  }
  .project-logo {
    float: right;
    margin-left: 2em;
    margin-bottom: 0.5em;
  }
  .article-logo {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }
  img:not(.photo):not(.project-logo):not(.article-logo):not(.youtube-video-play):not(.left-to-link) {
    width: 100%;
  }
  .image-box {
    margin: 2em 3% 1em 3%;
    width: 94%;
    height: auto;
  }
  .image-title {
  }
  pre {
    font-size: 0.734em;
  }
}
